[submodule "deps/dlib"]
	path = deps/dlib
	url = https://github.com/MrSmith33/dlib
	ignore = untracked
[submodule "deps/cbor"]
	path = deps/cbor
	url = https://github.com/MrSmith33/cbor-d
	ignore = untracked